<!-- Updated HTML structure with CSS classes -->
<h1 class="text-7xl font-bold underline">Welcome</h1>

<h1>Cups</h1>
<table>
<thead>
    <tr>
    <th>Name</th>
    <th>Field</th>
    <th>State</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Winner</th>
    <th></th>
    </tr>
</thead>
<tbody>
    <% @cups.each do |cup| %>
    <tr>
        <td><%= cup.name %></td>
        <td><%= cup.field %></td>
        <td><%= cup.state %></td>
        <td><%= cup.start_date %></td>
        <td><%= cup.end_date %></td>
        <td><%= cup.winner&.name %></td>
        <td><%= link_to 'Show', cup_path(cup), class: 'button' %></td>
    </tr>
    <% end %>
</tbody>
</table>
<%= link_to 'Create New Cup', cups_path, class: 'button' %>